<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.SysOfficeMapper">
  <resultMap id="BaseResultMap" type="com.mybatis.pojo.SysOffice">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parent_id" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parent_ids" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="DECIMAL" property="sort" />
    <result column="area_id" jdbcType="VARCHAR" property="area_id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="grade" jdbcType="CHAR" property="grade" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="zip_code" jdbcType="VARCHAR" property="zip_code" />
    <result column="master" jdbcType="VARCHAR" property="master" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="USEABLE" jdbcType="VARCHAR" property="USEABLE" />
    <result column="PRIMARY_PERSON" jdbcType="VARCHAR" property="PRIMARY_PERSON" />
    <result column="DEPUTY_PERSON" jdbcType="VARCHAR" property="DEPUTY_PERSON" />
    <result column="create_by" jdbcType="VARCHAR" property="create_by" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="update_by" jdbcType="VARCHAR" property="update_by" />
    <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="del_flag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, parent_id, parent_ids, name, sort, area_id, code, type, grade, address, zip_code, 
    master, phone, fax, email, USEABLE, PRIMARY_PERSON, DEPUTY_PERSON, create_by, create_date, 
    update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.mybatis.pojo.SysOfficeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_office
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_office
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_office
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatis.pojo.SysOfficeExample">
    delete from sys_office
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatis.pojo.SysOffice">
    insert into sys_office (id, parent_id, parent_ids, 
      name, sort, area_id, 
      code, type, grade, address, 
      zip_code, master, phone, 
      fax, email, USEABLE, 
      PRIMARY_PERSON, DEPUTY_PERSON, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{parent_id,jdbcType=VARCHAR}, #{parent_ids,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, #{area_id,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{grade,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, 
      #{zip_code,jdbcType=VARCHAR}, #{master,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{USEABLE,jdbcType=VARCHAR}, 
      #{PRIMARY_PERSON,jdbcType=VARCHAR}, #{DEPUTY_PERSON,jdbcType=VARCHAR}, #{create_by,jdbcType=VARCHAR}, 
      #{create_date,jdbcType=TIMESTAMP}, #{update_by,jdbcType=VARCHAR}, #{update_date,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{del_flag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.pojo.SysOffice">
    insert into sys_office
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parent_id != null">
        parent_id,
      </if>
      <if test="parent_ids != null">
        parent_ids,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="area_id != null">
        area_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="zip_code != null">
        zip_code,
      </if>
      <if test="master != null">
        master,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="USEABLE != null">
        USEABLE,
      </if>
      <if test="PRIMARY_PERSON != null">
        PRIMARY_PERSON,
      </if>
      <if test="DEPUTY_PERSON != null">
        DEPUTY_PERSON,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="update_by != null">
        update_by,
      </if>
      <if test="update_date != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="del_flag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null">
        #{parent_id,jdbcType=VARCHAR},
      </if>
      <if test="parent_ids != null">
        #{parent_ids,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="area_id != null">
        #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zip_code != null">
        #{zip_code,jdbcType=VARCHAR},
      </if>
      <if test="master != null">
        #{master,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="USEABLE != null">
        #{USEABLE,jdbcType=VARCHAR},
      </if>
      <if test="PRIMARY_PERSON != null">
        #{PRIMARY_PERSON,jdbcType=VARCHAR},
      </if>
      <if test="DEPUTY_PERSON != null">
        #{DEPUTY_PERSON,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_date != null">
        #{update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="del_flag != null">
        #{del_flag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatis.pojo.SysOfficeExample" resultType="java.lang.Long">
    select count(*) from sys_office
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_office
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.parent_id != null">
        parent_id = #{record.parent_id,jdbcType=VARCHAR},
      </if>
      <if test="record.parent_ids != null">
        parent_ids = #{record.parent_ids,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.area_id != null">
        area_id = #{record.area_id,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=CHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.zip_code != null">
        zip_code = #{record.zip_code,jdbcType=VARCHAR},
      </if>
      <if test="record.master != null">
        master = #{record.master,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null">
        fax = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.USEABLE != null">
        USEABLE = #{record.USEABLE,jdbcType=VARCHAR},
      </if>
      <if test="record.PRIMARY_PERSON != null">
        PRIMARY_PERSON = #{record.PRIMARY_PERSON,jdbcType=VARCHAR},
      </if>
      <if test="record.DEPUTY_PERSON != null">
        DEPUTY_PERSON = #{record.DEPUTY_PERSON,jdbcType=VARCHAR},
      </if>
      <if test="record.create_by != null">
        create_by = #{record.create_by,jdbcType=VARCHAR},
      </if>
      <if test="record.create_date != null">
        create_date = #{record.create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_by != null">
        update_by = #{record.update_by,jdbcType=VARCHAR},
      </if>
      <if test="record.update_date != null">
        update_date = #{record.update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.del_flag != null">
        del_flag = #{record.del_flag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_office
    set id = #{record.id,jdbcType=VARCHAR},
      parent_id = #{record.parent_id,jdbcType=VARCHAR},
      parent_ids = #{record.parent_ids,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=DECIMAL},
      area_id = #{record.area_id,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=CHAR},
      grade = #{record.grade,jdbcType=CHAR},
      address = #{record.address,jdbcType=VARCHAR},
      zip_code = #{record.zip_code,jdbcType=VARCHAR},
      master = #{record.master,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      fax = #{record.fax,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      USEABLE = #{record.USEABLE,jdbcType=VARCHAR},
      PRIMARY_PERSON = #{record.PRIMARY_PERSON,jdbcType=VARCHAR},
      DEPUTY_PERSON = #{record.DEPUTY_PERSON,jdbcType=VARCHAR},
      create_by = #{record.create_by,jdbcType=VARCHAR},
      create_date = #{record.create_date,jdbcType=TIMESTAMP},
      update_by = #{record.update_by,jdbcType=VARCHAR},
      update_date = #{record.update_date,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.del_flag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.pojo.SysOffice">
    update sys_office
    <set>
      <if test="parent_id != null">
        parent_id = #{parent_id,jdbcType=VARCHAR},
      </if>
      <if test="parent_ids != null">
        parent_ids = #{parent_ids,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="area_id != null">
        area_id = #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zip_code != null">
        zip_code = #{zip_code,jdbcType=VARCHAR},
      </if>
      <if test="master != null">
        master = #{master,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="USEABLE != null">
        USEABLE = #{USEABLE,jdbcType=VARCHAR},
      </if>
      <if test="PRIMARY_PERSON != null">
        PRIMARY_PERSON = #{PRIMARY_PERSON,jdbcType=VARCHAR},
      </if>
      <if test="DEPUTY_PERSON != null">
        DEPUTY_PERSON = #{DEPUTY_PERSON,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null">
        create_date = #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_date != null">
        update_date = #{update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="del_flag != null">
        del_flag = #{del_flag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.pojo.SysOffice">
    update sys_office
    set parent_id = #{parent_id,jdbcType=VARCHAR},
      parent_ids = #{parent_ids,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=DECIMAL},
      area_id = #{area_id,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      grade = #{grade,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      zip_code = #{zip_code,jdbcType=VARCHAR},
      master = #{master,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      USEABLE = #{USEABLE,jdbcType=VARCHAR},
      PRIMARY_PERSON = #{PRIMARY_PERSON,jdbcType=VARCHAR},
      DEPUTY_PERSON = #{DEPUTY_PERSON,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_date = #{create_date,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_date = #{update_date,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{del_flag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>