<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"
	debug="true">
	<!-- 模块名称， 影响日志配置名，日志文件名 -->
	<property name="appName" value="catwebservice" />
	<!--rootPath 日志路径，这里是相对路径，web项目eclipse下会输出到eclipse的安装目录下，如果部署到linux上的tomcat下，会输出到tomcat/bin目录 
		下 -->
	<property name="rootPath" value="/app/cat/logs" />
	<contextName>${appName}</contextName>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%t|%p| %m |%logger:%L%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="SQL-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${rootPath}/${appName}/%d{yyyy-MM-dd}/sql.%i.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%t|%p| %m |%logger:%L%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<append>true</append>
	</appender>

	<appender name="INFO-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${rootPath}/${appName}/%d{yyyy-MM-dd}/info.%i.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%t|%p| %m |%logger:%L%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<append>true</append>
	</appender>

	<appender name="ERROR-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${rootPath}/${appName}/%d{yyyy-MM-dd}/error.%i.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%t|%p| %m |%logger:%L%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
	</appender>

	<logger name="java.sql.Connection" level="TRACE" />
	<logger name="java.sql.Statement" level="TRACE" />
	<logger name="java.sql.PreparedStatement" level="TRACE" />

	<logger name="com.mybatis.mapper" level="debug" additivity="false">
		<appender-ref ref="SQL-file" />
	</logger>

	<logger name="com.app" level="ERROR" additivity="false">
		<appender-ref ref="ERROR-file" />
	</logger>

	<!-- project default level -->
	<logger name="com.app" level="INFO" />

	<!--slf4j2包下的类在ERROR级别时候传递到root logger中 -->
	<logger name="slf4j2" level="INFO" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO" />

	<logger name="org.springframework" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="INFO-file" />
		<appender-ref ref="ERROR-file" />
	</root>
</configuration>
