<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.SysFileUploadMapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.pojo.SysFileUpload" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="factpath" property="factpath" jdbcType="VARCHAR" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="originalname" property="originalname" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="business_type" property="business_type" jdbcType="INTEGER" />
    <result column="update_time" property="update_time" jdbcType="VARCHAR" />
    <result column="update_id" property="update_id" jdbcType="INTEGER" />
    <result column="create_time" property="create_time" jdbcType="VARCHAR" />
    <result column="create_id" property="create_id" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, path, factpath, ext, originalname, type, size, remark, business_type, update_time, 
    update_id, create_time, create_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_file_upload
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_file_upload
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatis.pojo.SysFileUpload" >
    insert into sys_file_upload (id, name, path, 
      factpath, ext, originalname, 
      type, size, remark, 
      business_type, update_time, update_id, 
      create_time, create_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{factpath,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, #{originalname,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{business_type,jdbcType=INTEGER}, #{update_time,jdbcType=VARCHAR}, #{update_id,jdbcType=INTEGER}, 
      #{create_time,jdbcType=VARCHAR}, #{create_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.pojo.SysFileUpload" >
    insert into sys_file_upload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="factpath != null" >
        factpath,
      </if>
      <if test="ext != null" >
        ext,
      </if>
      <if test="originalname != null" >
        originalname,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="business_type != null" >
        business_type,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="update_id != null" >
        update_id,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="create_id != null" >
        create_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="factpath != null" >
        #{factpath,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="originalname != null" >
        #{originalname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="business_type != null" >
        #{business_type,jdbcType=INTEGER},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=VARCHAR},
      </if>
      <if test="update_id != null" >
        #{update_id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="create_id != null" >
        #{create_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.pojo.SysFileUpload" >
    update sys_file_upload
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="factpath != null" >
        factpath = #{factpath,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="originalname != null" >
        originalname = #{originalname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="business_type != null" >
        business_type = #{business_type,jdbcType=INTEGER},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=VARCHAR},
      </if>
      <if test="update_id != null" >
        update_id = #{update_id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="create_id != null" >
        create_id = #{create_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.pojo.SysFileUpload" >
    update sys_file_upload
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      factpath = #{factpath,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR},
      originalname = #{originalname,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      size = #{size,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      business_type = #{business_type,jdbcType=INTEGER},
      update_time = #{update_time,jdbcType=VARCHAR},
      update_id = #{update_id,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=VARCHAR},
      create_id = #{create_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>